services:
  dispatcher-service:
    build: .
    container_name: dispatcher-service
    env_file: .env
    volumes:
      - ./src/pb:/app/src/pb
      - ./.env:/app/.env
    networks:
      - tpp-network

networks:
  tpp-network:
    external: true
