services:
  data-dispatcher-service:
    build:
      context: .
      dockerfile: docker/Dockerfile.server
    container_name: data-dispatcher-service
    volumes:
      - ./src/pb:/app/src/pb
    networks:
      - tpp-network

networks:
  tpp-network:
    external: true